.galery{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .25rem;
    
    &.one{
        .galery__item:first-child{
            height: 400px;
        }        
    }

    &.double-col{
        grid-template-columns: 1fr 1fr;    
    }

    &.three{
        grid-template-columns: 1fr 1fr;

        .galery__item:first-child{
            grid-column: span 2;
        }        
    }

    &__item{
        display: none;
        width: 100%;
        height: 200px;
        object-fit: cover;
        cursor: pointer;

        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
            display: grid;
        }
    }

    &__more{
        position: relative;
        cursor: pointer;
        &::after{
            content: attr(more);
            display: block;
            background: #00000080;
            position: absolute;
            width: 100%;
            top: 0;
            height: 100%;
            color: white;
            text-align: center;
            font-size: 4rem;
            line-height: 200px;
        }
    }
}